-#  Copyright (C) 2013, 2014, 2015 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

.row

  .col-md-6

    .panel.panel-info
      .panel-heading
        %h3 User Interface Behavior

      .panel-body
        = form_for :user, url: workspace_account_path, method: 'PUT', html: {class: "form-horizontal"} do |form|

          = form_group "Reload frequency", control_id: "reload_frequency" do

            = form.select :reload_frequency,
              options_for_select( [["Aggressive",:aggressive],
                ["Default",:default], ["Slow",:slow]],
                current_user.reload_frequency || :default),
              class: "form-control"

          = form_group "UI Theme", control_id: :ui_theme do

            = form.select :ui_theme,
              options_for_select([ ["Cider",:cider], ["Boostrap",:bootstrap]],
                current_user.ui_theme || :default),
              class: "form-control"

          = form_group "Enable Mini Profiler", control_id: "mini_profiler_is_enabled" do
            .checkbox
              %label<
                = form.check_box :mini_profiler_is_enabled, class: ""

          = form_group "" do
            .pull-right
              = button_tag type: 'submit', class: "btn btn-primary" do
                Save

    .panel.panel-danger
      .panel-heading
        %h3 Password
      .panel-body

        %p.text-warning
          If you change your password all your
          %b session cookies
          will become
          %b invalid immediately.
          It depends on the configuration of your server if passwords can be used to sign in.


        = form_for :user, url: workspace_account_path, method: 'PUT', html: { class: "form-inline", style: "text-align: center;"} do |form|

          .form-group
            %label.sr-only{for: 'user_password'}
            = form.password_field :password, class: "form-control", placeholder: "New password", style: "width: 20em"

          = button_tag type: 'submit', class: "btn btn-danger" do
            Change



  .col-md-6

    .panel.panel-info
      .panel-heading
        %h3 Email addresses

      .panel-body

        %p
          Email addresses are used to match your work on the
          = link_to workspace_path do
            workspace page.
          Make sure
          %b every email address
          you use to
          %b create commits
          is listed here.


        %table.table.table-striped
          %thead
          %tbody
            = render partial: 'email_address', collection: @user.email_addresses

        .row

          =form_tag email_addresses_workspace_account_path, method: 'POST', class: 'form-inline', style: "text-align: center;" do

            .form-group
              %label.sr-only{for: 'email_address'}
              = text_field_tag 'email_address', nil, placeholder: "Email address", type: 'email', class: "form-control", style: "width: 30em"

            = button_tag type: 'submit', class: "btn btn-info" do
              %i.icon-add
              Add email address





