- tree_id ||= params[:tree_id]


.orientation.row
  .col-md-6
    %ol.breadcrumb.pull-left
      = render "breadcrumbs/workspace"
      %li.active
        %i.icon-tree
        Tree-Objects
  .col-md-6
    %ol.breadcrumb.with-circle-separator.pull-right
      %li
        = link_to workspace_path({git_ref: @tree_id}) do
          %i.icon-workspace
          Commits & Jobs
      %li
        = link_to workspace_tree_configfile_path(@tree_id) do
          %i.icon-configuration-file
          Project-Configuration



%section.text-center

  %h1
    %i.icon-tree
    Tree-Objects for
    %span.id= @tree_id[0..5]

  %p
    %span
      tree-id:
    %span.id= @tree_id


  = link_to workspace_tree_attachments_path(@tree_id) do
    %h2
      %i.icon-attachments
      Attachments

  = link_to workspace_path({git_ref: @tree_id}) do
    %h2
      %i.icon-workspace
      Commits & Jobs

  = link_to workspace_tree_configfile_path(@tree_id) do
    %h2
      %i.icon-configuration-file
      Project-Configuration


