-#  Copyright (C) 2013, 2014, 2015 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

- job ||= @job

- cs = @job_cache_signatures ? @job_cache_signatures.select{|cs| cs.job_id == job.id}.first :  job.job_cache_signature

- cache [job.cache_signature,
    cs.tasks_signature, cs.commits_signature,
    cs.branches_signature, cs.repositories_signature ] do |cache_tag|
 
  - commits = job.commits

  %tr.job.reload{id: "job-tr-#{job.id}",class: job.state,data: {cache_tag: cache_tag}}

    %td.job

      %span.nowrap
        %span<>
          =link_to workspace_job_path(job), class: "label #{label_class_for_state(job.state)}" do
            %i{class: icon_class_for_state(job.state)}<>
        = link_to workspace_job_path(job)  do
          %span{style: "margin-left: 0.5em"}<
            =job.name.truncate(12)

    %td.stats

      = render "stats_summary", stats: job.job_stat 
 
    %td.created-at= render 'humanized_time_from_now', at: job.created_at

    %td.repositories
      %ul.list-unstyled
        - job.repositories.each do |repository| 
          %li<>
            %span.nowrap
              -# %i.icon-repository
              %strong.nowrap= repository.name

    %td.tags= render 'tags', tags: job.tags.sort, id: "tags-#{job.id}"

    %td.branches
      %ul.list-unstyled
        - job.branches.select('branches.name,"commits"."committer_date",commits.created_at,commits.id').each do |branch|
          %li
            %strong= branch.name

    %td.commits
      %ul.list-unstyled
        - commits.each do |commit|
          %li
            #{commit.committer_email.gsub(/@.*/,'').truncate(15)}:
            %em= commit.subject.truncate(30)
