-#  Copyright (C) 2013, 2014, 2015 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

- commits = @commits

#new-job-page


  .row
    .col-md-12
      %ol.breadcrumb.pull-left
        = render "breadcrumbs/tree_objects", tree_id: params[:tree_id]
        %li.active
          %i.icon-job
          Run a Job

  #commits

    %h2 #{ commits.count > 1 ? "Commits" : "Commit"}

    %table.commits.table.table-striped
      %thead
        %tbody
          != render partial: "commit_tr", collection: commits, as: :commit

  %h2 Available Jobs

  - @runnable_jobs.map{|attrs| Job.new(attrs)}.each do |job|

    .well.well-sm.runnable-job{data: {name: job.name}}

      .row
        .col-md-10
          %h4= job.name

          - if job.description.present?
            = markdown(job.description)

        .col-md-2
          = form_for job, url: workspace_jobs_path,
            method: 'POST', html: {class: "form-inline pull-right", role: "form" } do |f|

            = f.hidden_field :tree_id
            = f.hidden_field :description
            = f.hidden_field :name
            = f.hidden_field :job_specification_id
            = f.hidden_field :key

            .form-group
              =button_tag type: 'submit', class: "btn btn-primary" do
                %i.icon-job
                Run

  %h2 Unavailable Jobs

  %p
    These jobs are declared but they are currently not available for being run.

  - @un_runnable_jobs.each do |job|

    .well.well-sm.un-runnable-job
      %h4= job[:name]
      - if job[:description].present?
        = markdown(job[:description])

      - (job[:reasons] || []).each do |reason|
        .alert.alert-warning
          = markdown(reason)



