-#  Copyright (C) 2013, 2014, 2015 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.


=form_group "Name", control_id: "repository_name" do
  = f.text_field :name, autofocus: true, class: "form-control"

=form_group "Git URL", control_id: "repository_git_url" do
  = f.text_field 'git_url', class: "form-control"
  %span.help-block
    :markdown

      This value is also used to identify repositories in the Cider-CI stack.
      There are equivalent representations for the same URL.  We recommended to
      use the canonical representation as shown by your git server.

      Never setup **multiple repositories** within one Cider-CI instance which
      effectively **point to the same repository**.  We recommend `https` over
      `ssh` if possible. It tends to be less problematic and easier to debug.

%hr

=form_group "Fetch and update interval", control_id: "repository_git_fetch_and_update_interval"  do
  = f.text_field :git_fetch_and_update_interval,  class: "form-control"
  %span.help-block
    :markdown
      It is recommended to use so called "webhooks" to trigger fetch and
      updates.  If so a value of `5 Minutes` or higher is recommended. For pull
      only operation sensible values range from `5 Seconds`  to `3 Minutes`.

=form_group "Update notification token", control_id: :update_notification_token do
  = f.text_field :update_notification_token, class: 'form-control'
  %span.help-block
    The URL to send update notification from your git server to your Cider-CI
    instance for this repository is based on this value. You can reset it here.
    The string representing the value must be a valid UUID.

%hr

=form_group "Branch trigger include-match", control_id: :branch_trigger_include_match do
  = f.text_field :branch_trigger_include_match, class: "form-control"

=form_group "Branch trigger exclude-match", control_id: :branch_trigger_exclude_match do
  = f.text_field :branch_trigger_exclude_match, class: "form-control"


%hr

=form_group "Public view permission", control_id: "repository_public_view_permission" do
  .checkbox
    %label<
      = f.check_box :public_view_permission, class: ""
  %span.help-block
    You can allow unauthenticated users to view jobs and other related data
    for this repository.

%hr

=form_group "Foreign API endpoint", control_id: :foreign_api_endpoint do
  = f.text_field :foreign_api_endpoint, class: "form-control"
  %span.help-block
    :markdown
      The API endpoint, e.g. `https://api.github.com`, to send job statutes.

=form_group "Foreign API authentication token", control_id: :foreign_api_authtoken do
  = f.text_field :foreign_api_authtoken, class: "form-control"
  %span.help-block
    :markdown
      The API token used to send job statuses.

=form_group "Foreign API owner or organization part", control_id: :foreign_api_owner do
  = f.text_field :foreign_api_owner, class: "form-control"
  %span.help-block
    :markdown
      The owner or organization part of the repository as seen by the foreign API.

      This and the following parameter can overlap with parts of the URL and
      may seem to be redundant. However, specifying these parameters explicitly
      decouples the URL from the notification target.

=form_group "Foreign API repository part", control_id: :foreign_api_repo do
  = f.text_field :foreign_api_repo, class: "form-control"
  %span.help-block
    :markdown
      The repository part as seen by the foreign API.


=form_group "Foreign API type", control_id: :foreign_api_type do
  = f.text_field :foreign_api_type, class: "form-control", disabled: true


