-#  Copyright (C) 2013, 2014, 2015 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.


=form_group "Name", control_id: "repository_name" do
  = f.text_field :name, autofocus: true, class: "form-control"

=form_group "Git URL", control_id: "repository_git_url" do
  = f.text_field 'git_url', class: "form-control"

=form_group "Public view permission", control_id: "repository_public_view_permission" do
  .checkbox
    %label<
      = f.check_box :public_view_permission, class: ""

=form_group "Fetch and update interval (seconds) ", control_id: "repository_git_update_interval", cols_control: 4 do
  = f.text_field :git_fetch_and_update_interval, type: 'number', class: "form-control"
  %span.help-block
    It is recommended to Use webhooks to trigger fetch and updates if
    available. In this case a value of 300 or higher is recommended. For pull
    only operation sensible values range from 5 to 60.

=form_group "Github Authentication Token", control_id: "github_authtoken" do
  = f.text_field 'github_authtoken', class: "form-control"
  %span.help-block
    :markdown
      If the repository is hosted on GitHub (or a GitHub API compatible
      service) providing an authentication token will enable status pushes.
      See also ["Creating an access
      token"](https://help.github.com/articles/creating-an-access-token-for-command-line-use/)
      in the GitHub Help.
