-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

%ol.breadcrumb 
  %li 
    =link_to public_path do 
      Home 
    %li Administration
    %li
      = link_to admin_repositories_path do
        Repositories
    %li
      = link_to admin_repository_path(@repository) do
        Repository 
    %li.active edit


%h1 
  Edit Repository "#{@repository.name}"

= form_for @repository, url: admin_repository_path(@repository) , method: "PUT", html: {class: "form-horizontal"} do |f|

  = render 'form_fields', f: f

  = form_group "" do
    = button_tag type: 'submit', class: "btn btn-primary pull-right" do
      Save


