-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

- repository = @repository

%ol.breadcrumb 
  = render '/breadcrumbs/admin/repository', repository: repository


.pull-right.actions
  %ul.actions.list-inline
    %li.delete
      = link_to admin_repository_path(repository), method: 'DELETE', class: "button btn btn-sm btn-danger" do
        %i.icon-delete
        Delete
    %li.edit
      = link_to edit_admin_repository_path(repository), class: "button btn btn-sm btn-warning" do
        %i.icon-edit
        Edit



%h1 Repository "#{repository.name}"


%h2 Branches
%table.table.table-striped
  %thead
  %tbody
    - @repository.branches.reorder(updated_at: :desc).each do |branch|
      %tr.branch-row
        %td
          =link_to workspace_commits_path({ repository: {names: @repository.name}, 
            branch:{names: branch.name}}) do
            =branch.name
        %td 
          updated
          =render 'humanized_time_from_now', at:  branch.updated_at
        %td
          = branch.commits.count
          commits

.repository-properties{id: @repository.id}
  %h2 Properties
  %ul.actions.list-inline
  %table.table.table-striped
    %thead
    %tbody
      - attributes = @repository.attributes.deep_symbolize_keys
      - attributes.keys.sort.reject{|k| k == :transient_id}.each do |k|
        %tr
          %td= k 
          %td{style: "font-family: monospace;"}= attributes[k]


