-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

- cache [params] do

  .pull-right

    = form_tag workspace_commits_path, method: 'GET', class: "form-inline well right-top-form", role: 'form' do
      %fieldset 
        .pull-left
          %ul.list-inline
            %li
              .form-group
                %label.sr-only{for: "repository_names"}
                = text_field :repository, :names, placeholder: "Repository name 1, ...",
                  value: repository_names_filter.join(", "), 
                  autofocus: true,
                  data: {autocomplete_path: names_workspace_repositories_path}, 
                  class: "input-medium form-control input-sm"
            %li
              .form-group
                %label.sr-only{for: "branch_names"}
                = text_field :branch, :names, placeholder: "Branch name 1, ...",
                  value: branch_names_filter.join(", "), 
                  data:{autocomplete_path: names_workspace_branches_path}, 
                  class: "input-medium form-control input-sm"
            %li
              .form-group
                %label.sr-only{for: "commit_text"}
                =text_field :commit, :text, placeholder: "Commits text search",
                  value: commit_text_search_filter, 
                  class: "search-query form-control input-sm"


      %fieldset 
        .pull-right
          %ul.list-inline

            %li
              .form-group
                %label.sr-only{for: "commit_text"}
                = select_tag :commited_within_last_days, 
                  options_for_select([["commited within the last 24 hours",1],
                    ["commited within the last 10 days",10],
                    ["commited within the last 3 months",92],
                    ["commited within the last 2 years",730],
                    ["-",nil]],
                    (commited_within_last_days_filter || 10)), 
                  class: "form-control input-sm"


            %li
              = render 'per_page_form_group'

            %li
              = link_to workspace_commits_path, class: 'btn btn-sm btn-warning' do
                %i.icon-remove-sign
                Reset


            %li
              = button_tag type: 'submit', class: 'btn btn-sm btn-primary' do
                %i.icon-filter
                Filter

      .help-block{style: "margin-left: 14px"}
        %small
          :markdown
            Values within one field are combined with logical _or_.
            Multiple fields are combined with logical  _and_.



  %h1 
    Commits

    -case
    -when branch_names_filter.count == 1
      of the branch #{branch_names_filter.join(", ")}
    -when branch_names_filter.count > 1
      of the branches #{branch_names_filter.join(", ")}

    -case
    -when repository_names_filter.count == 1
      in the repository #{repository_names_filter.join(", ")}
    -when repository_names_filter.count > 1
      in the repositories #{repository_names_filter.join(", ")}


  .clearfix
