-#  Copyright (C) 2013, 2014, 2015 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.


:ruby
  task ||= @task
  cache_signature = CacheSignature.signature current_user,
    task.cache_signature, task.trials.collection_cache_signature

- cache cache_signature do

  %tr.task.reload{id: task.id,data: {cache_signature: cache_signature, state: task.state}}
    %td.state
      =link_to workspace_task_path(task) do
        = render "label_for_state", state: task.state
    %td.name
      =link_to workspace_task_path(task) do
        =task.name
    %td.trials
      %ul.list-inline.trials
        - task.trials.reorder(:created_at).each do |trial|
          - state = trial.state
          %li.trial{data: {state: trial.state}}
            = link_to workspace_trial_path(trial), class: "label #{label_class_for_state(state)}" do
              %i{class: icon_class_for_state(state)}
    %td.actions.text-right.for-signed-in-user

      = form_tag retry_workspace_task_path(task), method: 'POST', remote: true, class: "retry-tasks"  do
        = hidden_field_tag :authenticity_token, form_authenticity_token
        = hidden_field_tag :task_id, task.id
        = button_tag type: :submit, class: "retry button btn btn-primary btn-xs" do
          %i.icon-retry
          Retry


