-#  Copyright (C) 2013, 2014, 2015 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

- task ||= @task
- state = task.state
.row
  .col-md-6
    %ol.breadcrumb.pull-left
      = render '/breadcrumbs/task', task: task
  .col-md-6

    %ol.breadcrumb.with-circle-separator.pull-right
      %li
        = link_to api_browser_path("/tasks/#{task.id}")  do
          %icon.icon-raw-data
          Task Data

      %li
        = link_to api_browser_path("/task-specifications/#{task.task_specification_id}")  do
          %icon.icon-raw-data
          Task-Specification Data


    - if task.result
      %li
        = link_to result_workspace_task_path(task) do
          Result

%ul.list-inline.actions.pull-right
  %li.for-signed-in-user
    = form_tag retry_workspace_task_path(task), method: 'POST', remote: false do
      = hidden_field_tag :authenticity_token, form_authenticity_token
      = button_tag type: :submit, class: "btn btn-primary" do
        %i.icon-retry
        Retry


%h1
  = render 'for_task_header', task: task, start: "Task"

%ul.enumeration.list-unstyled.list-inline
  %li
    %span<>= render "label_for_state", state: task.state
    &nbsp;
    %span>= task.state
  %li
    %span created
    %b<>= render 'humanized_time_from_now', at: task.created_at


%section#trials

  %h2 Trials

  %table.table.striped
    %thead
    %tbody
      - task.trials.reorder(created_at: :asc).each_with_index do |trial,i|
        %tr.trial
          %td
            = link_to workspace_trial_path(trial),
              class: "label trial-label #{label_class_for_state(trial.state)}" do
              %i{class: icon_class_for_state(trial.state)}
              =(i+1).ordinalize
          %td
            %ul.list-inline
              = render partial: 'script_label', collection: trial.scripts,
                as: :script, locals: {trial: trial}

