-#  Copyright (C) 2013, 2014, 2015 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

- commits = @commits

%h1 Run a Execution 

#commits
  %h2 For #{ commits.count > 1 ? "Commits" : "Commit"}
  %table.commits.table.table-striped
    %thead
      %tbody
        != render partial: "commit_tr", collection: commits, as: :commit


- @creatable_executions.map{|attrs| Execution.new(attrs)}.each do |execution| 

  .well.well-sm

    %h4= execution.name

    - if execution.description.present? 
      = markdown(execution.description)


    = form_for execution, url: workspace_executions_path,  
      method: 'POST', html: {class: "form-inline", role: "form" } do |f|

      = f.hidden_field :tree_id

      .form-group
        = f.text_field :name, class: "form-control hidden"

      .form-group
        = f.text_field :specification_id, class: "form-control hidden"

      .form-group
        %label Tags: 
        = f.text_field  :tags, 
          placeholder: "tag 1, tag 2, ...", 
          data:{autocomplete_path: workspace_tags_path}, 
          value: "", class: "form-control"

      .form-group
        %label Priority:
        = f.text_field :priority, type: :number, class: "form-control" 

      .form-group
        =button_tag type: 'submit', class: "btn btn-primary" do
          %i.icon-execution
          Run 

