-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

- execution ||= @execution 
- ecs = execution.execution_cache_signature
- cs = [execution.cache_signature,admin?,ecs.repositories_signature,ecs.commits_signature,
    ecs.branches_signature,ecs.tasks_signature,@tasks_select_condition,@page,
    @trials.collection_cache_tag ]

- cache cs  do |cache_tag|

  - tasks ||= @tasks
  - reload_timeout= session_adjust_reload_timeout(%w(failed success).include?(execution.state) ? 30 : 3)
  #reload-page{data: { cache_tag: cache_tag, reload_timeout: reload_timeout}}

    %ol.breadcrumb 
      = render '/breadcrumbs/execution', execution: execution
      .pull-right 
        = link_to tree_attachments_workspace_execution_path(execution) do
          Attachments


    #execution.execution

      %ul.list-inline.actions.pull-right
        - if admin?
          %li
            = form_tag workspace_execution_path(execution), method: 'DELETE' do
              = hidden_field_tag :authenticity_token, form_authenticity_token
              = button_tag type: :submit, class: "btn btn-danger" do
                %i.icon-trash
                Delete
        %li
          =link_to edit_workspace_execution_path(execution), class: "btn btn-warning" do
            %i.icon-edit
            Edit
        %li
          = form_tag retry_failed_workspace_execution_path(execution,@filter_params), method: 'POST', remote: false do
            = hidden_field_tag :authenticity_token, form_authenticity_token
            = button_tag type: :submit, class: "btn btn-primary" do
              %i.icon-retry
              Retry failed


      %h1 Execution #{execution.definition_name}
      
      .row
        .col-md-9
          = render 'summary_speed', execution: execution, cache_tag: cache_tag
        .col-md-3.text-right
          = render 'tags', tags: execution.tags.sort, id: "execution-tags"

      = render 'summary_stats', execution: execution, cache_tag: cache_tag
      
      #commits.commits.reload.replace-without-animation{data: {cache_tag: ecs.commits_signature}}
        %h2 #{ execution.commits.count > 1 ? "Commits" : "Commit"}
        %table.commits.table.table-striped
          %thead
          %tbody
            != render partial: "commit_tr", collection: execution.commits, as: :commit

      .error
        - unless execution.error.blank? 
          .panel.panel-danger
            .panel-heading
              %h2.panel-title Error
            .panel-body
              %p 
                This execution has errors. The common causes are a semantically 
                incorrect specification or not existing objects in git during 
                substitution.

              %pre.script!= execution.error

      = render 'tasks', execution: execution, tasks: tasks

      
-#    .definition
        %h2 Execution Definition

        .panel.panel-default
          .panel-heading
            %h3.panel-title Definition
          .panel-body
            %pre.script!= execution.specification.data.to_yaml

        .panel.panel-default
          .panel-heading
            %h3.panel-title Substituted Definition
          .panel-body
            %pre.script!= execution.substituted_specification_data.to_yaml

