- options ||= {}
- options = {include_stylesheet: true, xlink_show_value: 'new'}.merge options
- xlink_show_value= options[:xlink_show_value]
- if options[:include_stylesheet]
  != %[<?xml-stylesheet type="text/css" href="#{stylesheet_url('application')}" ?>]


%svg.cider-ci.badge-medium(x=0 y=0 width=300 height=90
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewbox="0 0 300 90"
      preserveAspectRatio="xMidYMid meet"
      )

  - if options[:embedd_stylesheet]
    :sass
      $body-bg: white
      $text-color: black
      $link-color: blue
      $ci-border-color: black
      $ci-failed: red !default
      $ci-passed: green !default
      $ci-pending: gray !default
      $ci-unavailable: gray !default
      $ci-executing: mix(red,green) !default
      @import lib/colors_and_states
      @import lib/svg

  %rect(x=2 y=2 width=296 height=86 stroke-width="4")

  %svg.host-info(x=2 y=2 width=296 height=28 viewBox="0 0 296 28")
    %rect(x=0 y=0 width="100%" height="100%" stroke-width="0")
    %g
      %text(x="50%" y="60%")
        %a(xlink:href="#{Settings[:cider_ci_link]}" xlink:show=xlink_show_value)
          %tspan Cider-CI
        %tspan @
        %a(xlink:href=root_url xlink:show=xlink_show_value)
          %tspan= Settings[:hostname]
    %line(x1=0 y1=28 x2="100%" y2=28 stroke-width="2")

  %svg.state.repo.branch(x=2 y=30 width=296 height=30 viewBox="0 0 296 30"){class: view_params[:state]}
    %rect(x=0 y=0 width="100%" height="100%" stroke-width="0")
    %g
      %text(x="50%" y="70%")
        %tspan= view_params[:repository_name]
        %tspan /
        %tspan= view_params[:branch_name]

  %svg.state.job(x=2 y=60 width=296 height=28 viewBox="0 0 296 28"){class: view_params[:state]}
    %rect(x=0 y=0 width="100%" height="100%" stroke-width="0")
    %g
      %text(x="50%" y="60%")
        - if job_link= view_params[:job_link]
          %a(xlink:href=job_link xlink:show=xlink_show_value)
            %tspan<>= view_params[:job_name]
        - else
          %tspan<>= view_params[:job_name]
        %tspan :
        %tspan= view_params[:message]

