-#  Copyright (C) 2013, 2014, 2015 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

- state =script["state"]
%li.script.well{data: {state: state, name: script["name"], started_at: script["started_at"]}}  

  %h3{id: script["name"], name: script["name"]}
    %span.label{class: label_class_for_state(state)}<>
      %i{class: icon_class_for_state(state)}<>
    %span &nbsp; "#{script["name"]}"

  - started_at= Time.zone.parse(script["started_at"]) rescue false
  - finished_at= Time.zone.parse(script["finished_at"]) rescue false

  %ul.list-inline 
    -if finished_at and started_at
      %li Duration: #{distance_of_time_in_words(started_at,finished_at,include_seconds: true)} (#{(finished_at - started_at).round(2)} seconds)

    -if started_at
      %li Started #{render 'humanized_time_from_now', at: started_at}

    -if finished_at
      %li Finished #{render 'humanized_time_from_now', at: started_at}


  %ul.list-unstyled
    - ["body","error","stderr","stdout"].reject{|att_name| script[att_name].blank?}.each do |att_name|
      %li
        %h4
          =att_name.capitalize
        %pre.script{class: att_name}= script[att_name]


  %h4 All properties
  %pre.script= script.to_yaml
