-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

%tr
  %td
    = link_to "#{Settings.trial_attachments_http_prefix}#{trial_attachment.path}?#{{disposition: "inline"}.to_query}" do
      = trial_attachment.path.split('/').drop(2).join("/")
  -# %td
    = link_to "#{Settings.trial_attachments_http_prefix}/#{trial_attachment.trial.id}/#{trial_attachment.path}?#{{disposition: "trial_attachment"}.to_query}" do
      %i.fa.fa-download
  %td
    - if trial_attachment.content_length
      = (number_to_human_size(trial_attachment.content_length) rescue 'unknown')
  %td= trial_attachment.content_type
