
:ruby
  trial = Trial.find params[:id]
  cache_signature = CacheSignature.signature(trial)


- cache [cache_signature,params] do

  - reload_timeout= session_adjust_reload_timeout(%w(aborted failed passed).include?(trial.state) ? 30 : 3)
  #reload-page{data: { cache_signature: cache_signature, reload_timeout: reload_timeout}}

    :ruby

      params_options = params.slice(:arrows, :layouter, :'terminate-when')

      gantt_chart_svg_href = lambda{|options = {}|
        scripts_gantt_chart_workspace_trial_path(
          params_options.merge(format: :svg).merge(options))}

      dependency_graph_svg_href = lambda{|options = {}|
        scripts_dependency_graph_workspace_trial_path(
          params_options.merge(format: :svg).merge(options))}


    #trial.reload{data: {cache_signature: cache_signature}}

      .row
        .col-md-10
          %ol.breadcrumb.pull-left
            =render '/breadcrumbs/trial', trial: trial
            %li.active
              %i.icon-analytics
              Analytics

        .col-md-2
          // %ol.breadcrumb.with-circle-separator.pull-right

      %h1
        Analytics for
        "#{trial.task.name}"
        in
        "#{trial.task.job.name}"
        - if (trial.task.job.repositories.first rescue nil)
          of
          "#{trial.task.job.repositories.first.name}"

      %ul
        %li
          duration from start to finish of last script:
          :ruby
            duration = begin
                         trial.finished_at - trial.started_at
                       rescue
                         nil
                       end

          -if duration
            %span.humanize-duration{data: {duration: duration}} #{duration} seconds
            %span (#{pluralize duration, "second"})
          -else
            unknown


    %section#dependencies.depencencies

      %h2 Dependencies

      %section.start-dependencies
        :ruby
          start_dependencies_svg_path= dependency_graph_svg_href.()
        %h3
          Start-Dependencies
          %span
            =link_to start_dependencies_svg_path do
              %i.fa.fa-image
              SVG

        %object#dependencies{type: 'image/svg+xml', data: start_dependencies_svg_path, style: "width: 100%" }


      %section.terminate-dependencies
        :ruby
          terminate_dependencies_svg_path= dependency_graph_svg_href.('terminate-when': true)
        %h3
          Terminate-Dependencies
          %span
            =link_to terminate_dependencies_svg_path do
              %i.fa.fa-image
              SVG
        %object#dependencies{type: 'image/svg+xml', data: terminate_dependencies_svg_path, style: "width: 100%" }



    %section#timeline.timeline

      %h2 Gantt Chart
      %a{href: gantt_chart_svg_href.()} Show only the gantt-chart.
      Show
      %a{href: analytics_workspace_trial_path(params_options.except(:arrows))}<> &nbsp;without start arrows
      ,
      %a{href: analytics_workspace_trial_path(params_options.merge('arrows': 'true'))}<> &nbsp;with start arrows
      \.


      %object#gant-chart{type: 'image/svg+xml', data: gantt_chart_svg_href.(), style: "width: 100%" }

