:ruby
  script ||= Script.find_by(trial_id: params[:id], key: params[:key])

.row
  .col-md-10
    %ol.breadcrumb.pull-left
      =render '/breadcrumbs/script', script: script
      %li
        %icon.fa.fa-bug
        Debug
  .col-md-2
    %ol.breadcrumb.with-circle-separator.pull-right
      %li
        = link_to api_browser_path("/scripts/#{script.id}")  do
          %icon.icon-raw-data
          Data



%h1
  Debug script
  %em.name= script.name
  = render 'for_task_header', task: script.trial.task

%p
  This page provides information how the script was run.
  The contents will help to debug problems and reproduce behavior.

%h2 General Properties

- if script.trial.executor
  %p
    Executor:
    %code= script.trial.executor
    - if script.trial.executor.base_url.present?
      @
      %code= script.trial.executor.base_url

- if script.working_dir.present?
  %p
    Working directory
    %code= script.working_dir

- if script.script_file.present?
  %p
    Script file:
    %code= script.script_file


- if script.wrapper_file.present?
  %p
    Wrapper file:
    %code= script.wrapper_file


- if script.command.present?
  %p
    Script / wrapper execution command:
    %pre= script.command.join(" ")

- if script.body.present?
  %p
    Body:
    %pre= script.body

%h3 Set Environment Variables on Linux

:ruby

  env_vars = script[:environment_variables] \
    .map{|k,v| "export #{Shellwords.escape(k)}=#{Shellwords.escape(v)}"}
    .join("\n")

%pre= env_vars

