

%table.table
  %thead
    %tr
      %th Service
      %th Status
      %th Info
  %tbody

    = render 'status_row', result: ServiceCheck.check_api, name: "API Service"
    = render 'status_row', result: ServiceCheck.check_builder, name: "Builder Service"
    = render 'status_row', result: ServiceCheck.check_dispatcher, name: "Dispatcher Service"
    = render 'status_row', result: ServiceCheck.check_notifier, name: "Notifier Service"
    = render 'status_row', result: ServiceCheck.check_repository, name: "Repository Service"
    = render 'status_row', result: ServiceCheck.check_storage, name: "Storage Service"
    = render 'status_row', result: Status::Memory.status, name: "UI"

