-#  Copyright (C) 2013, 2014, 2015 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

= form_group "Login / nick name", control_id: "user_login" do
  = form.text_field :login, required: true, autofocus: true, class: "form-control"

= form_group "Name", control_id: "user_first_name" do
  = form.text_field :name, required: false, class: "form-control"

= form_group "Is administrator", control_id: "user_is_admin" do
  .checkbox
    = form.check_box :is_admin

= form_group "Account enabled ", control_id: "user_account_enabled" do
  .checkbox
    = form.check_box :account_enabled

= form_group "Password sign-in allowed", control_id: "password_sign_in_allowed" do
  .checkbox
    = form.check_box :password_sign_in_allowed

= form_group "Password", control_id: "user_password" do
  = form.password_field :password, class: "form-control"


