-#  Copyright (C) 2013, 2014, 2015 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

#welcome-page.cider-ci.text-center

  - cache CacheSignature.signature(WelcomePageSettings.find.cache_signature) do
    #welcome_message
      - if (welcome_page_settings = WelcomePageSettings.find) && welcome_page_settings.welcome_message.present?
        =markdown(welcome_page_settings.welcome_message)
      - else
        :markdown
          # Welcome to Cider-CI

          This is the default welcome-message.

          It can be customized via `Administration` → `Welcome page settings`!

  %hr

  #reload-page{data: { reload_timeout: 30}}

  %hr


  - cache Settings.releases[0] do

    .row
      .col-md-3
      .col-md-6

        :ruby
          commit_ref = `cd .. && git log -n 1 --format=%H`.strip rescue 'master'

        %h2 About Cider-CI

        %p#release-info
          = link_to "https://github.com/cider-ci/cider-ci/blob/#{commit_ref}/config/releases.yml" do
            Version&nbsp;
            = render partial: 'application/semantic_version',
              locals: { semver: Semver.get }

            - if release_name = Settings.releases[0].name
              %em "#{release_name}"

        :markdown
          Cider-CI is an application and service stack for **highly parallelized**
          and **resilient integration testing**.  Read more about Cider-CI at
          [cider-ci.info](http://cider-ci.info/).

        - if Settings.releases[0]['about-name']
          %p.about-name= markdown(Settings.releases[0]['about-name'])

      .col-md-3

