-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

!!!
%html
  %head
    %title Cider-CI
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    - if Rails.env == 'development'
      = javascript_include_tag "try", "data-turbolinks-track" => true
    = csrf_meta_tags
    - unless user?
      :sass
        .for-signed-in-user
          display: none !important
    - unless admin?
      :sass
        .for-admin
          display: none !important
  %body{data: {user: user?, admin: admin?}}
    .container

      = cache [current_user,admin?] do 
        = render partial: "navbar/navbar" 

      #messages
        - {success: :successes, info: :infos, warning: :warnings, danger: :errors}.each do |bs_type, msg_key|
          - (@alerts[msg_key] || []).each do |msg|
            .alert.alert-success.alert-dismissable{class: "alert-#{bs_type}"}
              %button.close{type:"button", 'data-dismiss'=>'alert'} &#215
              = msg

      %div#application{data: {env: Rails.env}}

        = yield 


