-#  Copyright (C) 2013, 2014, 2015 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

!!!
%html
  %head
    %title Cider-CI

    = stylesheet_link_tag stylesheet_chooser(), media: "all"

    - case (current_user && current_user.ui_theme) || :default
    - when 'cider'
      = stylesheet_link_tag "cider", media: "all"
    - when 'darkly'
      = stylesheet_link_tag "darkly", media: "all"
    - when 'bootstrap'
      = stylesheet_link_tag "bootstrap-plain", media: "all"
    - else

    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    - unless user?
      :sass
        .for-signed-in-user
          display: none !important
    - unless admin?
      :sass
        .for-admin
          display: none !important
  %body#page{data: {autoscroll: !!@autoscroll, user: user?, admin: admin? }}
    .container-fluid

      = render partial: "navbar/navbar"

      #messages
        - {success: :successes, info: :infos, warning: :warnings, danger: :errors}.each do |bs_type, msg_key|
          - (@alerts[msg_key] || []).each do |msg|
            .alert.alert-success.alert-dismissable{class: "alert-#{bs_type}"}
              %button.close{type:"button", 'data-dismiss'=>'alert'} &#215
              = msg

      %div#application{data: {env: Rails.env}}
        = yield
      #page_bottom




